<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>五官科</key>
	<array>
		<dict>
			<key>name</key>
			<string>口腔疾病</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>咽炎</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>扁桃体炎</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>眼科</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>耳部疾病</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>鼻炎</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>儿科用药</key>
	<array>
		<dict>
			<key>name</key>
			<string>儿科其它</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>厌食</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>小儿感冒</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>止咳祛痰平喘</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>止泻药</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>退热药</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>驱虫药</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
	<key>其它外用药</key>
	<array>
		<dict>
			<key>name</key>
			<string>外用药其它</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>搽剂</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>痔疮</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>脚气</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>膏药</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>头疼安神类</key>
	<array>
		<dict>
			<key>name</key>
			<string>偏头疼</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>头疼安神其它</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>安神助眠</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>神经性头痛</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>妇科用药</key>
	<array>
		<dict>
			<key>name</key>
			<string>乳腺增生</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>妇科其它</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宫颈炎</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>更年期疾病</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>月经不调</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>栓剂</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>洗液</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>痛经</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>盆腔炎</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阴道炎</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>心脑血管类</key>
	<array>
		<dict>
			<key>name</key>
			<string>冠心病</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>心脑其它</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>脑血栓</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高血压</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高血脂</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>感冒类</key>
	<array>
		<dict>
			<key>name</key>
			<string>暑湿感冒</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>流行性感冒</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>病毒性感冒</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>风寒感冒</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>风热感冒</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>抗菌消炎类</key>
	<array>
		<dict>
			<key>name</key>
			<string>四环素类</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>抗真菌</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>抗菌消炎其它</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>沙星类</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>青霉素类</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>抗过敏类</key>
	<array>
		<dict>
			<key>name</key>
			<string>口服</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>外用</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>止咳祛痰平喘</key>
	<array>
		<dict>
			<key>name</key>
			<string>平喘类</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>急/慢性气管炎</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>止咳祛痰类</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>泌尿系统</key>
	<array>
		<dict>
			<key>name</key>
			<string>前列腺疾病</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>尿路感染</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>泌尿其它</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>消化系统类</key>
	<array>
		<dict>
			<key>name</key>
			<string>便秘</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>急慢性腹泻</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>慢性肠炎</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>慢性胃炎</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>消化不良</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>消化系统其它</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>胃/十二指肠溃疡</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>清热解毒类</key>
	<array>
		<dict>
			<key>name</key>
			<string>清热泻火</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>清热解毒其它</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>男科用药</key>
	<array>
		<dict>
			<key>name</key>
			<string>少精无精</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滑精遗精</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>男科其它</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>脱发斑秃</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阳痿早泄</string>
			<key>icon</key>
			<string>IMG_0799.jpg</string>
		</dict>
	</array>
	<key>糖尿病</key>
	<array>
		<dict>
			<key>name</key>
			<string>Ⅰ型糖尿病</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ⅱ型糖尿病</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>结石类</key>
	<array>
		<dict>
			<key>name</key>
			<string>尿路结石</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肾结石</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>胆结石</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>维生素矿物质</key>
	<array>
		<dict>
			<key>name</key>
			<string>矿物质类</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>维生素类</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>维矿其它</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>美容护肤</key>
	<array>
		<dict>
			<key>name</key>
			<string>减肥</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>化妆品/护肤品</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>肝胆类</key>
	<array>
		<dict>
			<key>name</key>
			<string>肝炎</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肝胆其它</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>胆囊炎</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肝硬化</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>补益类</key>
	<array>
		<dict>
			<key>name</key>
			<string>气血不足</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肝肾两虚</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肾虚</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>补益其它</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>运动系统</key>
	<array>
		<dict>
			<key>name</key>
			<string>跌打损伤</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>运动系统其它</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>风湿骨科类</key>
	<array>
		<dict>
			<key>name</key>
			<string>解热镇痛</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>颈椎病</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>风湿/类风湿</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>风湿骨科其它</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>关节炎</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>骨质增生</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>骨质疏松</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>中医保健</key>
	<array>
		<dict>
			<key>name</key>
			<string>刮痧油</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拔火罐</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>灸盒</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>针灸针</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>制氧机</key>
	<array>
		<dict>
			<key>name</key>
			<string>制氧机及周边</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
	<key>日常外用</key>
	<array>
		<dict>
			<key>name</key>
			<string>凝胶</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>创可贴</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>手套</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>棉签</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>橡皮膏</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>纱布</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>脱脂棉</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>镊子</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>晕车药</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>日常护理</key>
	<array>
		<dict>
			<key>name</key>
			<string>上肢吊带</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>听诊器</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>小便壶</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>护理液</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>护腰</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>护膝</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>敷冰袋</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>灰指甲专用</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>牵引器</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>疝气带</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>轮椅</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>退热走珠器</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>雾化器</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>频谱仪</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>鸡眼专用盒</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>护颈</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>足浴</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>助听器</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>日用常备</key>
	<array>
		<dict>
			<key>name</key>
			<string>保健箱</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>出诊箱</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>口罩</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>注射器</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>温度计</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>煎药箱</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>眼罩</string>
			<key>icon</key>
			<string>IMG_0798.jpg</string>
		</dict>
	</array>
	<key>血压测量</key>
	<array>
		<dict>
			<key>name</key>
			<string>血压计</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
	<key>血糖测量</key>
	<array>
		<dict>
			<key>name</key>
			<string>血糖仪及试纸</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
	<key>怀孕检测</key>
	<array>
		<dict>
			<key>name</key>
			<string>测孕纸/测孕笔</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
	<key>计生其它</key>
	<array>
		<dict>
			<key>name</key>
			<string>润滑剂</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>计生用品其它</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
	<key>避孕</key>
	<array>
		<dict>
			<key>name</key>
			<string>安全套</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>避孕药</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
	<key>应季商品</key>
	<array>
		<dict>
			<key>name</key>
			<string>冬季</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>夏季</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>春季</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
	<key>儿童保健</key>
	<array>
		<dict>
			<key>name</key>
			<string>儿童综合营养</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>儿童补钙类</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
	<key>成人营养</key>
	<array>
		<dict>
			<key>name</key>
			<string>保健品其它</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>免疫力</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>维生素</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>综合保健</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>营养品</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>补钙类</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>软化血管</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>辅助睡眠</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>降血脂</string>
			<key>icon</key>
			<string>IMG_0797.jpg</string>
		</dict>
	</array>
</dict>
</plist>
