<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>头部</key>
	<array>
		<dict>
			<key>name</key>
			<string>头部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>鼻</string>
		</dict>
		<dict>
			<key>name</key>
			<string>耳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>口</string>
		</dict>
		<dict>
			<key>name</key>
			<string>颅脑</string>
		</dict>
		<dict>
			<key>name</key>
			<string>面部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>咽喉</string>
		</dict>
		<dict>
			<key>name</key>
			<string>眼</string>
		</dict>
	</array>
	<key>颈部</key>
	<array>
		<dict>
			<key>name</key>
			<string>颈部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>甲状腺</string>
		</dict>
		<dict>
			<key>name</key>
			<string>气管</string>
		</dict>
	</array>
	<key>胸部</key>
	<array>
		<dict>
			<key>name</key>
			<string>胸部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肺</string>
		</dict>
		<dict>
			<key>name</key>
			<string>膈肌</string>
		</dict>
		<dict>
			<key>name</key>
			<string>乳房</string>
		</dict>
		<dict>
			<key>name</key>
			<string>食管</string>
		</dict>
		<dict>
			<key>name</key>
			<string>心脏</string>
		</dict>
		<dict>
			<key>name</key>
			<string>纵膈</string>
		</dict>
	</array>
	<key>腹部</key>
	<array>
		<dict>
			<key>name</key>
			<string>腹部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肠</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肝</string>
		</dict>
		<dict>
			<key>name</key>
			<string>胆</string>
		</dict>
		<dict>
			<key>name</key>
			<string>腹膜</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肠系膜</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阑尾</string>
		</dict>
		<dict>
			<key>name</key>
			<string>脾</string>
		</dict>
		<dict>
			<key>name</key>
			<string>胃</string>
		</dict>
		<dict>
			<key>name</key>
			<string>胰腺</string>
		</dict>
	</array>
	<key>腰部</key>
	<array>
		<dict>
			<key>name</key>
			<string>腰部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肾</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肾上腺</string>
		</dict>
		<dict>
			<key>name</key>
			<string>输尿管</string>
		</dict>
	</array>
	<key>臀部</key>
	<array>
		<dict>
			<key>name</key>
			<string>臀部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肛门</string>
		</dict>
	</array>
	<key>上肢</key>
	<array>
		<dict>
			<key>name</key>
			<string>上肢</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肩部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>前臂</string>
		</dict>
		<dict>
			<key>name</key>
			<string>上臂</string>
		</dict>
		<dict>
			<key>name</key>
			<string>手部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肘部</string>
		</dict>
	</array>
	<key>下肢</key>
	<array>
		<dict>
			<key>name</key>
			<string>下肢</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大腿</string>
		</dict>
		<dict>
			<key>name</key>
			<string>膝部</string>
		</dict>
		<dict>
			<key>name</key>
			<string>小腿</string>
		</dict>
		<dict>
			<key>name</key>
			<string>足部</string>
		</dict>
	</array>
	<key>骨</key>
	<array>
		<dict>
			<key>name</key>
			<string>骨</string>
		</dict>
		<dict>
			<key>name</key>
			<string>骨髓</string>
		</dict>
		<dict>
			<key>name</key>
			<string>关节</string>
		</dict>
		<dict>
			<key>name</key>
			<string>脊髓</string>
		</dict>
		<dict>
			<key>name</key>
			<string>脊柱</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肋骨</string>
		</dict>
		<dict>
			<key>name</key>
			<string>颅骨</string>
		</dict>
		<dict>
			<key>name</key>
			<string>盆骨</string>
		</dict>
		<dict>
			<key>name</key>
			<string>其他骨</string>
		</dict>
		<dict>
			<key>name</key>
			<string>上肢骨</string>
		</dict>
		<dict>
			<key>name</key>
			<string>下肢骨</string>
		</dict>
	</array>
	<key>男性生殖</key>
	<array>
		<dict>
			<key>name</key>
			<string>男性生殖</string>
		</dict>
		<dict>
			<key>name</key>
			<string>睾丸</string>
		</dict>
		<dict>
			<key>name</key>
			<string>前列腺</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阴囊</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阴茎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>输精管</string>
		</dict>
	</array>
	<key>女性生殖</key>
	<array>
		<dict>
			<key>name</key>
			<string>女性生殖</string>
		</dict>
		<dict>
			<key>name</key>
			<string>卵巢</string>
		</dict>
		<dict>
			<key>name</key>
			<string>输卵管</string>
		</dict>
		<dict>
			<key>name</key>
			<string>外阴</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阴道</string>
		</dict>
		<dict>
			<key>name</key>
			<string>子宫</string>
		</dict>
	</array>
	<key>盆腔</key>
	<array>
		<dict>
			<key>name</key>
			<string>盆腔</string>
		</dict>
		<dict>
			<key>name</key>
			<string>膀胱</string>
		</dict>
		<dict>
			<key>name</key>
			<string>尿道</string>
		</dict>
	</array>
	<key>全身</key>
	<array>
		<dict>
			<key>name</key>
			<string>全身</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肌肉</string>
		</dict>
		<dict>
			<key>name</key>
			<string>淋巴</string>
		</dict>
		<dict>
			<key>name</key>
			<string>血液血管</string>
		</dict>
		<dict>
			<key>name</key>
			<string>免疫系统</string>
		</dict>
		<dict>
			<key>name</key>
			<string>皮肤</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周围神经系统</string>
		</dict>
	</array>
	<key>会阴部</key>
	<array>
		<dict>
			<key>name</key>
			<string>会阴部</string>
		</dict>
	</array>
	<key>心理</key>
	<array>
		<dict>
			<key>name</key>
			<string>心理</string>
		</dict>
	</array>
	<key>背部</key>
	<array>
		<dict>
			<key>name</key>
			<string>背部</string>
		</dict>
	</array>
	<key>其他</key>
	<array>
		<dict>
			<key>name</key>
			<string>其他</string>
		</dict>
	</array>
	<key>全部</key>
	<array>
		<dict>
			<key>name</key>
			<string>全部</string>
		</dict>
	</array>
</dict>
</plist>
